.dxp-property-editor {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.dxp-property-editor .dxp-header {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;

	label {
		font-size: 1.25em;
		font-weight: 500;
	}

	div {
		font-weight: 500;
		color: var(--ui-color-text-muted);
	}
}

.dxp-option-editor {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.dxp-option-editor > input[type="checkbox"] {
	width: 0.875rem;
	height: 0.875rem;
	cursor: pointer;
	accent-color: var(--ui-color-accent);
	flex-shrink: 0;
}

.dxp-signal-editor {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.dxp-signal-editor span {
	font-size: 0.75em;
	color: var(--ui-color-text-muted);
	flex-shrink: 0;
	line-height: 1;
	opacity: 0.8;
}
